<div>
    <h2>Update Produit</h2>
    <form (ngSubmit)="onUpdate()">
      <div>
        <label for="libelle">Libelle:</label>
        <input
          type="text"
          id="libelle"
          [(ngModel)]="produit.libelle"
          name="libelle"
          required
        />
      </div>
  
      <div>
        <label for="prix">Prix:</label>
        <input
          type="number"
          id="prix"
          [(ngModel)]="produit.prix"
          name="prix"
          required
        />
      </div>
  
      <div>
        <label for="qteStock">Quantité Stock:</label>
        <input
          type="number"
          id="qteStock"
          [(ngModel)]="produit.qteStock"
          name="qteStock"
          required
        />
      </div>
  
      <button type="submit">Update</button>
      <button type="button" (click)="onCancel()">Cancel</button>
    </form>
  </div>
  